<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<section>
    <h3> Search Food:</h3>
    <form action="/searchFood" method="GET">
        <label>
            Food:
            <input type="string" name="foodName">
        </label>
        <button type="submit">Search</button>
    </form>
    <a href="/meals/create">Create meal</a>