

<form action="/meals/:meadId:quantity" method="POST">

    <p> Breakfast </p>

    {{#each breakfast}}
        <span> {{name}} </span> <input type="number" name={{name}} />
    {{/each }}

    <button type="submit"> Save new quantities </button>
</form>