<div>
    <h3>IBM CALCULATOR</h3>  


        <label> Age:
            <input type="number" name="age" value="{{age}}" />
        </label>
        <label> Gender:
        <input type="text" name="gender" value="{{gender}}" />
        </label>
        <label> Height:
            <input type="number" name="height" value="{{height}}" />CM
        </label>
        <label> Weight:
            <input type="number" name="weight" value="{{weight}}" />KG
        </label>
        
        <form action="user-profile/ibm-calculator" method="POST">
        <button type="submit">Calculate</button>
        </form>
      
   
</div>