<div>
    <h3>IBM CALCULATOR</h3>
    <form action="/user-profile/edit" method="POST">


        <label> Age
            <input type="number" name="age" value="{{userInfo.age}}"/>
        </label>

        <fieldset>
            <legend>Gender</legend>

            <div>
                <input type="radio" id="male" name="gender" value="male" checked>
                <label for="gender">Male</label>
            </div>

            <div>
                <input type="radio" id="female" name="gender" value="female">
                <label for="gender">Female</label>
            </div>

        </fieldset>

        <label> Height
            <input type="number" name="height" value="{{userInfo.height}}"/>CM
        </label>
        <label> Weight
            <input type="number" name="weight" value="{{userInfo.weight}}"/>KG
        </label>

        <button type="submit">Calculate</button>

    </form>
</div>