
<div class="p-5">
        <h1>Profile Page</h1>
        <h4 class="my-3">Welcome you back!</h4>

        <div class="d-flex flex-column">
                <a class="my-2 nav-link fs-5" href="/">Home</a>

                <a class="my-2 nav-link fs-5" href="/user-profile/details">Your profile</a>

                <a class="my-2 nav-link fs-5" href="#">History Review</a>

                <a class="my-2 nav-link fs-5" href="/mealDiaries/create">New Meal Diary</a>

                <a class="my-2 nav-link fs-5" href="user-profile/bmi-Calculator">BMI Calculator</a>


        </div>
</div>



